<table>
   <h1>Последние петиции</h1>
  <tr>
    <th>Петиция</th>

    <th>Автор</th>
    <th>Голоса</th>
    <th>Дата создания</th>
  </tr>

<% @petitions.each do |d| %>
  <tr>
  <td><%=link_to d.title, d %></td>
  <td><%= d.user.first_name  %></td>
  <td><%= label_tag @votes.where(petition_id: d.id).size %></td>
   <td><%= d.created_at.strftime("%m/%d/%y %I:%M") %></td>

  </tr>
<% end %>
</table>

