
<table>
   <h1>Последние петиции</h1>
  <tr>
    <th>Петиция</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Автор</th>
    
    <th></th>
    <th></th>
  </tr>

<% @petitions.each do |d| %>
  <tr>
  <td><%=link_to d.title, d %></td>
  <td><%= d.user_id %></td>
  <td><%=  %></td>

  </tr>
<% end %>
</table>

<br />
